@font-face {
    font-family: 'Lazy Days';
    src: url(resouce/Lazy\ Days.ttf) format('truetype');
}

@font-face {
    font-family: 'Gruvidelia';
    src: url(resouce/Gruvidelia.ttf) format('truetype');
}